.lookbook-detail h3 a:hover,
ul.meta li a:hover,
.texty-post ul li a:hover,
.texty-post h2 a:hover,
.grid-post h3 a:hover,
.cat > a:hover,
.fancy-post-inner h3 a:hover,
.pagination > li:first-child > a:hover,
.pagination > li:last-child > a:hover,
.square-img span,
.square-post h4 a:hover,
.viewmore i,
.small-post-name li a,
.small-post-name > h4 a:hover,
.bottom-footer ul li a:hover,
.viewmore:hover,
footer.dark .simple-social-links > a:hover,
.simple-social-links > a:hover,
form.subscribtion button:hover,
.categories > a:hover,
.nav.nav-tabs li.active a,
.author-post > h3 a:hover,
.author-post > i,
.option-set li a.selected,
.post-item-center > a:hover,
.post-item-center h3 a:hover,
.page-name ul li a:hover,
.short-info li a:hover,
.other-post-name > h5 a:hover,
.author-media > a:hover,
.author-detail > h4 a:hover,
.comment-detail > a.reply,
.comment-form button:hover,
.related-post-name > h4 a:hover,
.topbar ul li a:hover,
.creative-header nav ul.menu-links > li:hover > a,
.transparent-header form button,
.menu-links ul li:hover > a,
.mega-post > h4 a:hover,
.mega-links a:hover,
.tab-post > h5 a:hover,
.sidebar-post > h3 a:hover,
.widget li a:hover,
.widget .about-widget > ul li i,
.fancy-post-name > h3 a:hover,
.article-detail > h5 a:hover,
.author-name > strong a:hover,
.single-link > a:hover{
	color:#d82521;
}

.btn,
.loadmore:hover,
.pagination > li.active > a,
.pagination > li > a:hover,
.square-img a:hover,
.slick-btns button:hover,
form.subscribtion button,
.gallery-slide a i,
.photos-carousel .owl-nav > div:hover,
footer.dark .photos-carousel .owl-nav > div:hover,
.cats > a:before,
.post-item-center > a,
.short-info:before,
.tags > a:before,
.related-carousel .owl-nav > div:hover,
.comment-form button,
.simple-header ul.menu-links > li > a:before, 
.simple-header ul.menu-links > li > a:after,
.simple-links > a:hover,
.creative-header nav ul.menu-links > li > a > i,
.creative-header nav ul.menu-links > li:hover > a:after,
.simple-social > a:hover,
.fancy-post-carousel .owl-nav > div:hover,
.sidebar .widget-title:before,
.subscribe-widget form button,
.article-detail > a,
.responsive-search form button,
.grid-post-img > a,
.fancy-social > a:hover,
.dark-btn:hover{
	background:#d82521;
}


.owl-dots .owl-dot.active{
	background-color:#d82521;
}


.loadmore:hover,
.widget-title h4:before, 
.widget-title:before, 
.widget-title:after,
.owl-dots .owl-dot.active,
.nav.nav-tabs li.active a,
.option-set li a.selected,
.timer .countdown li:after{
	border-color:#d82521;
}

